@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 4px;
  width: 100%
}

@media (max-width: 950px) {
  .header {
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: #088dcd;
  border-radius: 5px;
}

.main-content {
  max-width: 1400px;
  margin: auto;
  padding: 2rem;
}

.position-stats {
  display: flex;
  justify-content: end;
  align-items: center;
}

.position-stats>Button {
  border: 2px solid #088dcd !important;
  font-size: 0.875rem;
  color: black;
}

.icon-color svg {
  fill: #088dcd;
}

.icon-arrow svg {
  fill: #088dcd;
  font-size: 18px;
}

.MuiButton-iconSizeMedium>*:first-child {
  font-size: 16px !important;
  fill: #088dcd;
}

.MuiTypography-colorPrimary {
  color: #088dcd !important;
}